html, body {
  margin: 0px;
  padding: 0px;
  background-color: #242224;
  font-family: 'Reem Kufi', sans-serif;
}
#header {
  z-index: 999;
  background-color: #5D4157;
  color: #EBE3AA;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  height: 64px;
  box-shadow: 0px 1px 2px #121112, 0px 2px 8px #121112;
}

#avatar {
  display: inline;
  background-color: #5D4157;
  background-image: url("./zett-static.png");
  width: 64px;
  height: 64px;
  background-position: -32px -32px;
  border-radius: 50%;
  border: 4px solid #838689;
  box-shadow: 0px 1px 2px #121112, 0px 2px 8px #121112;
  transition: width 0.5s ease, height 0.5s ease, background-position 0.5s ease;
}

#avatar:hover {
  width: 128px;
  height: 128px;
  background-position: 0px 0px;
}

#contents {
  position: relative;
  min-height: 100%;
  margin-top: 64px;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px #121112;
}
a:hover {
  color: black;
  transition: color 0.5s ease-in-out;
}

.linkbar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
}

.linkMe {
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
  margin-right: 8px;
  font-size: 16px;
  width: 20%;
  min-width: 160px;
  text-align: center;
}

.featured {
  min-height: 200px;
  background-color: #EBE3AA;
}

#featuredScreenshot {
  height: 160px;
  margin-right: 16px;
  border-radius: 8px;
  border: 4px solid white;
  box-shadow: 1px 1px 2px #121112;
}

@media (min-width: 600px) {
  .linkbar {
    width: 80%;
  }
}

.description {
  width: 80%;
  min-width: 240px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 600px) {
  .description {
    flex-flow: row nowrap;
  }
}

.link1 {
  background-color: #CAD7B2;
}
.link2 {
  background-color: #A8CABA;
}
.link3 {
  background-color: #838689;
}
.link4 {
  background-color: #5D4157;
}
